@import "tailwindcss";

@layer base {
  @theme {
    --font-gt: "Poppins", sans-serif;
    --font-mono: "Andale Mono", monospace;
    --color-primary: #ee4822;
    --color-background: #171717;
    --color-foreground: #ffffff;
    --color-secondary: #d4d4d4;
    --color-grayc: #2f2f2f;
    --color-btn-bg: #262626;
  }

  body {
    font-family: var(--font-gt);
    @apply text-sm antialiased text-white bg-[#171717];
  }

  code,
  pre,
  .font-mono {
    font-family: var(--font-mono);
  }
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-inner {
  animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
  animation-direction: reverse;
}

html {
  scroll-behavior: smooth;
}
